In [2]:
import pandas as pd
from pathlib import Path
from pandas import DataFrame
import datetime as dt

In [3]:
csv_path = Path("world_gdp.csv")

In [4]:
df = pd.read_csv(csv_path, parse_dates=True, infer_datetime_format=True, index_col="DATE")
df.head()

            NYGDPPCAPKDWLD
DATE
1960-01-01     3583.631274
1961-01-01     3673.412758
1962-01-01     3801.863678
1963-01-01     3918.140213
1964-01-01     4091.480763

In [6]:
world_gdp=df.rename(columns={"NYGDPPCAPKDWLD":"WORLD GDP"})
world_gdp.head()

              WORLD GDP
DATE
1960-01-01  3583.631274
1961-01-01  3673.412758
1962-01-01  3801.863678
1963-01-01  3918.140213
1964-01-01  4091.480763

In [7]:
world_gdp.dtypes

WORLD GDP    float64
dtype: object

In [8]:
world_gdp.isnull().sum()

WORLD GDP    0
dtype: int64

In [9]:
world_gdp.duplicated().sum()

0

In [10]:
world_gdp_11=world_gdp.loc['2011-01-01':'2021-01-01']
world_gdp_11

               WORLD GDP
DATE
2011-01-01   9531.912850
2012-01-01   9674.582263
2013-01-01   9835.853183
2014-01-01  10025.188363
2015-01-01  10223.003956
2016-01-01  10388.715709
2017-01-01  10619.110767
2018-01-01  10843.418561
2019-01-01  11003.993985
2020-01-01  10520.345394

In [11]:
world_gdp_11.reset_index(inplace=True)

In [13]:
world_gdp_11.to_csv("world_gdp_11_cleaned.csv", index=False)