In [15]:
import pandas as pd
from pathlib import Path
from pandas import DataFrame
import datetime as dt

In [16]:
csv_path = Path("world_gdp.csv")

In [17]:
df = pd.read_csv(csv_path, parse_dates=True, infer_datetime_format=True, index_col="DATE")
df.head()

            NYGDPPCAPKDWLD
DATE
1960-01-01     3583.631274
1961-01-01     3673.412758
1962-01-01     3801.863678
1963-01-01     3918.140213
1964-01-01     4091.480763

In [18]:
world_gdp=df.rename(columns={"NYGDPPCAPKDWLD":"WORLD GDP"})
world_gdp.head()

              WORLD GDP
DATE
1960-01-01  3583.631274
1961-01-01  3673.412758
1962-01-01  3801.863678
1963-01-01  3918.140213
1964-01-01  4091.480763

In [19]:
world_gdp.dtypes

WORLD GDP    float64
dtype: object

In [20]:
world_gdp.isnull().sum()

WORLD GDP    0
dtype: int64

In [21]:
world_gdp.duplicated().sum()

0

In [22]:
world_gdp_95=world_gdp.loc['1995-01-01':'2005-01-01']
world_gdp_95

              WORLD GDP
DATE
1995-01-01  7032.853178
1996-01-01  7182.600371
1997-01-01  7355.409992
1998-01-01  7458.795590
1999-01-01  7618.737454
2000-01-01  7856.908016
2001-01-01  7913.696617
2002-01-01  7996.734567
2003-01-01  8147.529271
2004-01-01  8406.134783
2005-01-01  8640.276500

In [23]:
world_gdp_95.reset_index(inplace=True)

In [24]:
world_gdp_95.to_csv("world_gdp_95_cleaned.csv", index=False)