In [46]:
import pandas as pd
from pathlib import Path
from pandas import DataFrame
import datetime as dt

In [47]:
csv_path = Path("BTC-USD.csv")

In [48]:
df = pd.read_csv(csv_path, parse_dates=True, infer_datetime_format=True, index_col="Date")
df.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2014-09-17,465.864014,468.174011,452.421997,457.334015,457.334015,21056800
2014-09-18,456.859985,456.859985,413.104004,424.440002,424.440002,34483200
2014-09-19,424.102997,427.834991,384.532013,394.795990,394.795990,37919700
2014-09-20,394.673004,423.295990,389.882996,408.903992,408.903992,36863600
2014-09-21,408.084991,412.425995,393.181000,398.821014,398.821014,26580100

In [49]:
df.drop(columns=['Open', 'High', 'Low', 'Close', 'Volume'], inplace=True)
df.head()

             Adj Close
Date
2014-09-17  457.334015
2014-09-18  424.440002
2014-09-19  394.795990
2014-09-20  408.903992
2014-09-21  398.821014

In [50]:
df.dtypes

Adj Close    float64
dtype: object

In [51]:
df.isnull().sum()

Adj Close    0
dtype: int64

In [52]:
df.duplicated().sum()

3

In [53]:
duplicate = df[df.duplicated()]
duplicate

              Adj Close
Date
2015-05-16   236.153000
2017-02-28  1179.969971
2018-07-16  6741.750000

In [54]:
df.head()

             Adj Close
Date
2014-09-17  457.334015
2014-09-18  424.440002
2014-09-19  394.795990
2014-09-20  408.903992
2014-09-21  398.821014

In [55]:
df.reset_index(inplace=True)

In [56]:
df.to_csv("bitcoin_cleaned.csv", index=False)