In [57]:
import requests
import os
import pandas as pd
from pathlib import Path
from pycoingecko import CoinGeckoAPI

In [58]:
cg = CoinGeckoAPI()

In [62]:
cg_data = cg.get_coin_market_chart_by_id(id = 'bitcoin',
                               vs_currency = 'usd',
                               days = '5',
                               interval = 'daily'
                              )

In [64]:
cg_data

{'prices': [[1644105600000, 41493.690050910525],
  [1644192000000, 42475.543220951215],
  [1644278400000, 43910.929986443094],
  [1644364800000, 44184.447511676175],
  [1644451200000, 44383.88805541707],
  [1644459657000, 44347.33825328214]],
 'market_caps': [[1644105600000, 786295053042.2418],
  [1644192000000, 804942041477.0581],
  [1644278400000, 833392518214.8341],
  [1644364800000, 837406846076.2306],
  [1644451200000, 841339973338.8694],
  [1644459657000, 841066471499.9485]],
 'total_volumes': [[1644105600000, 16752051696.248552],
  [1644192000000, 13206494654.908047],
  [1644278400000, 24171856714.475758],
  [1644364800000, 29024977264.932137],
  [1644451200000, 19780565063.098923],
  [1644459657000, 19068471019.146988]]}

In [76]:
cg_df = pd.DataFrame.from_dict(cg_data,orient='index').transpose()

In [77]:
cg_df

,prices,market_caps,total_volumes
0,"[1644105600000, 41493.690050910525]","[1644105600000, 786295053042.2418]","[1644105600000, 16752051696.248552]"
1,"[1644192000000, 42475.543220951215]","[1644192000000, 804942041477.0581]","[1644192000000, 13206494654.908047]"
2,"[1644278400000, 43910.929986443094]","[1644278400000, 833392518214.8341]","[1644278400000, 24171856714.475758]"
3,"[1644364800000, 44184.447511676175]","[1644364800000, 837406846076.2306]","[1644364800000, 29024977264.932137]"
4,"[1644451200000, 44383.88805541707]","[1644451200000, 841339973338.8694]","[1644451200000, 19780565063.098923]"
5,"[1644459657000, 44347.33825328214]","[1644459657000, 841066471499.9485]","[1644459657000, 19068471019.146988]"