In [16]:
import pandas as pd
from pathlib import Path
from pandas import DataFrame
import datetime as dt

In [17]:
csv_path = Path("BTC-USD.csv")

In [18]:
df = pd.read_csv(csv_path, parse_dates=True, infer_datetime_format=True, index_col="Date")
df.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2014-09-17,465.864014,468.174011,452.421997,457.334015,457.334015,21056800
2014-09-18,456.859985,456.859985,413.104004,424.440002,424.440002,34483200
2014-09-19,424.102997,427.834991,384.532013,394.795990,394.795990,37919700
2014-09-20,394.673004,423.295990,389.882996,408.903992,408.903992,36863600
2014-09-21,408.084991,412.425995,393.181000,398.821014,398.821014,26580100

In [19]:
df.drop(columns=['Open', 'High', 'Low', 'Close', 'Volume'], inplace=True)
df.head()

             Adj Close
Date
2014-09-17  457.334015
2014-09-18  424.440002
2014-09-19  394.795990
2014-09-20  408.903992
2014-09-21  398.821014

In [20]:
df.dtypes

Adj Close    float64
dtype: object

In [21]:
df.isnull().sum()

Adj Close    0
dtype: int64

In [22]:
df.duplicated().sum()

3

In [23]:
duplicate = df[df.duplicated()]
duplicate

              Adj Close
Date
2015-05-16   236.153000
2017-02-28  1179.969971
2018-07-16  6741.750000

In [24]:
df.head()

             Adj Close
Date
2014-09-17  457.334015
2014-09-18  424.440002
2014-09-19  394.795990
2014-09-20  408.903992
2014-09-21  398.821014

In [25]:
df_2=df.rename({'Adj Close':'Bitcoin'}, axis=1)
df_2

                 Bitcoin
Date
2014-09-17    457.334015
2014-09-18    424.440002
2014-09-19    394.795990
2014-09-20    408.903992
2014-09-21    398.821014
...                  ...
2022-02-12  42244.468750
2022-02-13  42197.515625
2022-02-14  42586.917969
2022-02-15  44575.203125
2022-02-16  44155.562500

[2710 rows x 1 columns]

In [26]:
df_2.reset_index(inplace=True)

In [27]:
df_2.to_csv("bitcoin_cleaned.csv", index=False)