In [112]:
import pandas as pd
from pathlib import Path
from pandas import DataFrame
import datetime as dt

In [113]:
csv_path = Path("us_gdp.csv")

In [141]:
df = pd.read_csv(csv_path, parse_dates=True, infer_datetime_format=True, index_col="DATE")
df.head()

            NYGDPPCAPKDUSA
DATE
1960-01-01       19,135.27
1961-01-01       19,253.55
1962-01-01       20,116.24
1963-01-01       20,701.27
1964-01-01       21,599.82

In [142]:
us_gdp=df.rename(columns={"NYGDPPCAPKDUSA":"US GDP"})

In [143]:
us_gdp.head()

              US GDP
DATE
1960-01-01 19,135.27
1961-01-01 19,253.55
1962-01-01 20,116.24
1963-01-01 20,701.27
1964-01-01 21,599.82

In [144]:
us_gdp.dtypes

US GDP    float64
dtype: object

In [145]:
us_gdp.isnull().sum()

US GDP    0
dtype: int64

In [146]:
us_gdp.duplicated().sum()

0

In [154]:
us_gdp_95=us_gdp.loc['1995-01-01':'2005-01-01']
us_gdp_95

              US GDP
DATE
1995-01-01 41,794.19
1996-01-01 42,869.25
1997-01-01 44,212.17
1998-01-01 45,658.14
1999-01-01 47,282.28
2000-01-01 48,689.03
2001-01-01 48,690.81
2002-01-01 49,081.36
2003-01-01 50,053.62
2004-01-01 51,476.49
2005-01-01 52,796.09

In [158]:
us_gdp_95.reset_index(inplace=True)

In [159]:
us_gdp_95.to_csv("us_gdp_95_cleaned.csv", index=False)