In [2]:
import pandas as pd
from pathlib import Path
from pandas import DataFrame
import datetime as dt

In [3]:
csv_path = Path("us_gdp.csv")

In [4]:
df = pd.read_csv(csv_path, parse_dates=True, infer_datetime_format=True, index_col="DATE")
df.head()

            NYGDPPCAPKDUSA
DATE
1960-01-01    19135.268182
1961-01-01    19253.547329
1962-01-01    20116.235124
1963-01-01    20701.269947
1964-01-01    21599.818705

In [6]:
us_gdp=df.rename(columns={"NYGDPPCAPKDUSA":"US GDP"})
us_gdp.head()

                  US GDP
DATE
1960-01-01  19135.268182
1961-01-01  19253.547329
1962-01-01  20116.235124
1963-01-01  20701.269947
1964-01-01  21599.818705

In [7]:
us_gdp.dtypes

US GDP    float64
dtype: object

In [8]:
us_gdp.isnull().sum()

US GDP    0
dtype: int64

In [9]:
us_gdp.duplicated().sum()

0

In [11]:
us_gdp_11=us_gdp.loc['2011-01-01':'2021-01-01']
us_gdp_11

                  US GDP
DATE
2011-01-01  53190.231121
2012-01-01  53989.248340
2013-01-01  54604.130054
2014-01-01  55574.356825
2015-01-01  56863.371496
2016-01-01  57418.933846
2017-01-01  58387.775808
2018-01-01  59821.592274
2019-01-01  60836.771454
2020-01-01  58510.236622

In [12]:
us_gdp_11.reset_index(inplace=True)

In [13]:
us_gdp_11.to_csv("us_gdp_11_cleaned.csv", index=False)